.box {
	width: 80%;
	height: 15px;
	background-color: #7eeeaa;

	left: 20%;
	margin: 20px;

	font-size: 125%;
	padding-bottom: 5%;

	border-radius: 2px 30px 30px 2px;
	border: 1px solid #7eeeaa;
	color: white;
	box-shadow: 3px 2px 3px #67d492;
}
.tab {
	display: inline-block;
	margin-left: 250px;
}
.box:hover {
	cursor: pointer;
	border: 2px solid #7eeeaa;
	color: #7d7d7d;
	background-color: white;
}
