.button {
	/* margin: auto; */
	transition-duration: 0.4s;
	font-size: 16px;
	cursor: pointer;
	/* align-self: center; */
	height: fit-content;
	border-radius: 20px;
	border: none;
}

.disabled {
	background-color: gainsboro !important;
	color: grey !important;
}
.disabled:hover {
	pointer-events: none;
}
.search {
	/* border-radius: 50%; */

	/* margin-top: 5%; */

	width: 250px;
	height: 50px;
	right: 0;
	position: relative;
	/* order: 4; */
	/* font-weight: bold; */
	font-size: x-large;

	/* box-shadow: 2px 2px 2px #fd6b6c; */

	color: white;
	background-color: #fd6b6c;
}
.search:hover {
	color: white;
	background-color: #fd7b7b;
	outline: none;
}
.search:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.search:focus {
	outline: none;
}
.create {
	width: 250px;
	height: 50px;
	right: 0;
	position: relative;
	/* order: 4; */
	/* font-weight: bold; */
	font-size: x-large;

	color: white;
	background-color: #fd6b6c;
}
.create:hover {
	color: white;
	background-color: #fd7b7b;
	outline: none;
}
.create:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.create:focus {
	outline: none;
}
