.list {
	padding: 20px;
	height: 100px;
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: flex-start;
}
.listbox {
	display: flex;
	flex-direction: column;
	padding: 20px;
	justify-content: flex-start;
	align-items: center;
}

.yellow {
	color: yellow;
}
.grey {
	color: gray;
}

.row {
	display: flex;
	flex-direction: row;
}
.cat {
	background-color: white;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	margin: 2px;
	border-radius: 10px;
}
.cat:hover {
	cursor: pointer;
}
.a {
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	margin: 2px;
	border-radius: 10px;
	color: white !important;
	background-color: black !important;
}
